# Configurações do Banco de Dados Online (Supabase - Connection Pooler)
DATABASE_URL=postgresql://postgres.wthpwisvqswkmblmhcko:LET013509ici@aws-1-us-east-1.pooler.supabase.com:6543/postgres

# Configuração da Sessão
SESSION_SECRET=minha_chave_secreta_super_segura
PORT=3000